/* Universal styles */
.react-calendar {
    @apply w-full h-full
}

.react-calendar button {
    @apply m-0 border-0 outline-none enabled:hover:cursor-pointer keyboard-only-focus-ring  
}

/* HEADER SECTION */
.react-calendar__navigation {
    @apply flex items-center justify-between py-4 px-2 gap-4
}

.react-calendar__navigation__label {
    @apply text-xl
}

.react-calendar__navigation button,
.react-calendar__navigation button {
    @apply disabled:opacity-50 disabled:cursor-not-allowed keyboard-only-focus-ring rounded
}

.react-calendar__navigation__arrow {
    @apply px-5 py-1
}

/* WEEK DAYS SECTION */
.react-calendar__month-view__weekdays {
    @apply text-center uppercase font-semibold text-gray-500 text-[.75em] select-none 
}

.react-calendar__month-view__weekdays__weekday {
    @apply p-[.5em]
}

.react-calendar__month-view__weekdays abbr {
    @apply no-underline border-none
}


/* DAYS / TILES */

.react-calendar__month-view__days__day--neighboringMonth {
    @apply text-gray-400 no-underline
}

/* py-[10px] px-[6.6667px] */
.react-calendar__tile {
    @apply enabled:hover:bg-gray-200 rounded max-w-full py-[10px] px-[6.6667px] text-center leading-4
}

.react-calendar__tile--now {
    @apply font-extrabold
}

.react-calendar__tile--active {
    @apply bg-green-700 text-white enabled:hover:bg-green-800
}


.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}


.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile--hasActive {
    background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}